Repository chinakritp/chart-storybook: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "src/**/*.{json}": ["prettier --write", "git add"],
  "src/**/*.{js,jsx}": ["prettier --write", "eslint", "git add"],
  "src/**/*.{css,scss}": ["prettier --write", "stylelint", "git add"]
}

add preview
  src/components/visualizations/chart/chart.mdx
Due: none

init deploy firebase action
  .github/workflows/deploy-firebase.yml
Due: none

add empty chart
  .firebaserc
  .gitignore
  .storybook/preview.js
  firebase.json
  package.json
  src/assets/images/icon-box.png
  src/components/visualizations/chart/chart.mdx
  src/components/visualizations/chart/chart.stories.js
  src/components/visualizations/extensions/empty-data/empty-data.js
  src/components/visualizations/extensions/empty-data/empty-data.module.scss
  src/components/visualizations/extensions/empty-data/empty-data.stories.js
  src/components/visualizations/extensions/empty-data/empty-data.test.js
  src/scss/analytics-panel.scss
Due: prettier --write, eslint, stylelint

remove trigger from create pull request
  .github/workflows/deploy-firebase.yml
Due: none

add pie and donut story
  src/components/visualizations/chart/charts/donut-chart.stories.js
  src/components/visualizations/chart/charts/pie-chart.stories.js
Due: prettier --write, eslint

add bar chart
  src/components/visualizations/chart/charts/bar-chart.mdx
  src/components/visualizations/chart/charts/bar-chart.stories.js
Due: prettier --write, eslint

add document bar chart
  src/assets/images/Value-tooltip.png
  src/assets/images/download.jpg
  src/assets/images/tooltip.png
  src/components/visualizations/chart/chart.mdx
Due: none

fix storybook docs
  src/components/visualizations/chart/chart.mdx
  src/components/visualizations/chart/chart.stories.js
  src/components/visualizations/chart/charts/bar-chart.mdx
  src/scss/style.scss
Due: prettier --write, eslint, stylelint
